/* Add a card effect for articles */
.card {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
   .column.side, .column.middle {
        width: 100%;
    }
}
.task {
    background-color: #ddd;
    width: 100%;
    padding: 10px;
    min-height: 80px;
}
.task:hover {
  background-color: #eee;
}
